@font-face {
    font-family: 'GE-Dinar-One';
    src: url('fonts/alfont_com_GE-Dinar-One-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GE-Dinar-One', sans-serif;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.50s;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
}
body {
    background: #16133D;
    overflow-x: none;
}
::-webkit-scrollbar{
    border-radius: 1000px;
    background: #00002a;
    height: 3px;
    width: 5px;
  }
  ::-webkit-scrollbar-corner{
    opacity: 0;
  }
  ::-webkit-scrollbar-thumb{
    width: 15px;
    background: linear-gradient(#002, #00ccff, #002);
  }
  ::-webkit-scrollbar-corner{
    opacity: 0;
  }

html{
    overflow-x: none;
}
::selection {
    color: #fff;
    background: #1f7a83;
    padding: 7px;
}
span{
    color: #52C5CF;
}
button:hover{
    box-shadow: 0px 0px 50px #52c5cf57;
}
/*== Header ==*/
header {
    height: 85px;
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
    border: 1px solid;
    border-image-source: linear-gradient(131.92deg, rgba(255, 255, 255, 0.2) 14.14%, rgba(0, 0, 0, 0) 47.67%, rgba(255, 255, 255, 0.2) 82.63%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 30px 7px 30px;
    position: sticky;
    top: 15px;
    z-index: 9999999999999999999;
    backdrop-filter: blur(9px);
    border-radius: 30px;
    width: 95%;
    margin: auto;
    box-shadow: 0px 0px 30px #00000013;
}


header .links {
    display: flex;
    align-items: center;
    gap: 60px;
}

header .links a {
    font-size: 1.5vw;
}
header .links a:hover{
    color: #52C5CF;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btns button{
    height: 45px;
    border-radius: 10px;
    border: 2px solid #52C5CF;
    background: none;
    padding: 8px 8px 8px 8px;
    font-size: 17px;
    max-width: 140px;
}
header button {
    height: 45px;
    border-radius: 10px;
    border: 2px solid #52C5CF;
    background: none;
    padding: 8px 8px 8px 8px;
    font-size: 18px;
    width: 150px;
}
.login-btn {
    background: #52C5CF !important;
}

header .logo {
    height: auto;
    width: 80%;
}

#phone-login-btn {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon div {
    height: 7px;
    border: 3px solid #52C5CF;
    background: #52C5CF;
    margin-top: 5px;
    border-radius: 4px;
    width: 37px;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 100px;
    right: 20px;
    background: linear-gradient(to left top,#1b174efb, #083364);
    box-shadow: 0px 0px 30px #1f7b8327;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    z-index: 9999999999999999999999999999999;
    justify-content: center;
    margin: auto;
}

.mobile-menu a {
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
}

.mobile-menu a:last-child {
    border-bottom: none;
}



@media (max-width: 869px) {
    .courses-landing nav{
        font-size: 12px !important;
    }
    .guarantee-content{
        justify-content: space-around !important;
        text-align: center !important;
    }
    header .links {
        display: none;
    }
    .slider-container {
        width: 100%;
    }
    header .btns {
        display: none;
    }
    main h1{
        font-size: 60px !important;
    }
    .menu-icon {
        display: block;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    #phone-login-btn {
        display: block;
    }

    .mobile-menu.active {
        display: block;
        animation: slideIn 0.3s ease-out;
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }
    footer{
        display: block;
    }
    footer ul, .ul-main{
        margin: auto;
        justify-content: center !important;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        display: block !important;
    }
}

@media (min-width: 870px) {
    .menu-icon {
        display: none;
    }

    #phone-login-btn {
        display: none;
    }
}

/*== Header & Menu Box End ==*/

/*== Page Content -> ==*/
/*== Page Content -> ==*/
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    margin-bottom: 20px;
    direction: rtl;
    position: relative;
    gap: 20px;
}

main .landing-content {
    flex: 1;
    text-align: left;
}
main .btns{
    gap: 20px;
}
main h1 {
    font-size: 70px;
    line-height: 1.2;
    text-align: right;
}

main p {
    font-size: 18px;
    margin-top: 10px;
    max-width: 450px;
    line-height: 1.6;
    text-align: right;
}

@media (min-width: 870px) {
    main {
        gap: 50px; 
    }

    .landing-content h1 {
        font-size: 80px;
    }

}

main img{
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 110px #52c5cf91);
}


@media (max-width: 869px) {
    main {
        flex-direction: column;
        text-align: center;
    }
    main h1 {
        font-size: 60px;
    }
    .services-landing-content{
        flex-direction: column;
        text-align: center;
    }
    .services-landing-content h1{
        font-size: 40px;
    }
    .landing-content p {
        font-size: 15px;
    }
    .slider .slide {
        flex: 0 0 100%;
    }
}
/*== Main End ==*/
/*== Courses section ==*/
.title{
    display: block;
    justify-content: center;
    margin: auto;
}
.title h1{
    font-size: 50px;
}
.title p{
    font-size: 17px;
}

.sec-3 {
    text-align: center;
    margin-top: -100px;
}

.carousel-wrapper {
    width: 60%;
    margin: auto;
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-track {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-item {
    width: 100%;
    max-width: 280px;
    height: auto;
    text-align: center;
    display: flex;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background: none;
    border-radius: 20px;
}

.position {
    font-size: 14px;
    color: #52C5CF;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 550px;
    position: absolute;
    width: 100%;
}
.control-btn {
    width: 40px;
    height: 40px;
    background: #001d52;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    margin-top: 50px;
    transition: 0.3s;
}

.indicator-dots {
    display: flex;
    gap: 8px;
}

.indicator-dot {
    width: 10px;
    height: 10px;
    background: none;
    border: 2px #fff solid;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.indicator-dot.active {
    opacity: 1;
    background: #fff;
}

.carousel-item.active {
    border-radius: 20px;
    background: #16133D;
    box-shadow: 0px 0px 150px #52c5cf18;
    margin-top: 200px;
    transform: translateX(0px) scale(1.2);
    z-index: 2;
    opacity: 1;
}

.carousel-item.prev {
    border: none;
    background: none;
    box-shadow: none;
    transform: translateX(-100px) scale(0.9);
    z-index: 1;
}

.carousel-item.next {
    border: none;
    box-shadow: none;
    background: none;
    transform: translateX(100px) scale(0.9);
    z-index: 1;
}

.slider-container {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider-content{
    position: relative;
    margin: auto;
    width:100%;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 50px;
}
.prev, .next {
    border-radius: 52px;
    border-width: 1px;
    position: absolute;
    padding: 7px;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to left top,#002,#003, #004);
    cursor: pointer;
    z-index: 99999999999999999;
    border: 1px rgba(0, 0, 153, 0.089) solid;
}
.prev div, .next div{
    width: 50px;
    height: 50px;
    border-radius: 52px;
    position: relative;
}
.prev img, .next img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    width: 25px;
    height: 25px;
    z-index: 99999999999999999;
}
.prev {
    left: 15px;
    box-shadow: 0px 0px 15px #52c5cf23;
    z-index: 99999999999999999;
    position: absolute;
}

.next {
    box-shadow: 0px 0px 15px #52c5cf23;
    z-index: 99999999999999999;
    right: 15px;
    position: absolute;
}

.course-card {
    backdrop-filter: blur(36.72150421142578px);
    box-shadow: 0px 1.53px 36.72px -1.53px #0000002E;
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
    top: 58px;
    border-radius: 32px;
    gap: 10px;
    border-width: 2px;
    padding-top: 24px;
    padding-right: 13px;
    padding-bottom: 24px;
    padding-left: 13px;
    max-width: 500px;
    text-align: center;
}
.course-card button{
    width: 100%;
    max-width: 220px;
    height: 55px;
    border-radius: 20px;
    border: none;
    padding: 7px;
    background: #52C5CF;
    font-size: 25px;
}
.course-card img {
    width: 100%;
    border-radius: 8px;
}

.course-card h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.course-card h3 {
    font-size: 20px;
    color: #888;
    margin-bottom: 15px;
}

/*== Courses End ==*/
/*== Clients Start ==*/
/*== Clients Start ==*/
.clients {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 20px 0;
    width: 95%;
    margin: auto;
}
.slide-track {
    margin-top: 10px;
    display: flex;
    width: calc(200px * 20);
    animation: scroll 10s linear infinite;
}

.slide-track img {
    background: #001227;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0 10px;
    object-fit: contain;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

marquee img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/*== Clients End ==*/
.sec-3 .stars{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sec-3 .card{
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px #ffffff18 solid;
}
.sec-3 .card h2{
    margin-top: 7px;
    font-size: 27px;
    padding: 5px;
}
.sec-3 .card p{
    font-size: 17px;
    padding: 7px;
}
.sec-3 .card .stars{
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    padding: 7px;
    margin: auto;
}
.sec-3 .card .stars i{
    color: #52C5CF;
}
.sec-3 .card video{
    width: 100%;
    border-radius: 10px;
}

/*== Number Section Start ==*/
.numbers{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    margin: auto;
    margin-top: 60px;
}
.btn{
    background: none;
    padding: 7px;
    border: 2px #52C5CF solid;
    border-radius: 10px;
    direction: rtl;
    font-size: 17px;
}
.numbers .num{
    margin: auto;
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 150px;
    filter: drop-shadow(0px 0px 30px #ffffff3a);
}
.numbers img{
    width: 80px;
}
.numbers .num h2{
    font-family: sans-serif;
    font-size: 60px;
    padding: 15px;
}
/*== Contact ==*/
.contact form{
    display: block;
    padding: 10px;
}
.contact form input{
    width: 100%;
    max-width: 500px;
    padding: 7px;
    height: 55px;
    border-radius: 30px;
    background: none;
    text-align: right;
    border: 1px #ffffff9f solid;
    margin-top: 10px;
}
.contact form input::placeholder, .contact form textarea::placeholder{
    padding: 7px;
    font-size: 18px;
    color: #ffffff86;
    margin-left: 10px;
}
.contact form textarea{
    width: 100%;
    max-width: 500px;
    height: 150px;
    border-radius: 20px;
    background: none;
    text-align: right;
    border: 1px #fff solid;
    margin-top: 10px;
    padding: 10px;
}
.contact form button{
    width: 100%;
    max-width: 500px;
    padding: 7px;
    height: 45px;
    border: none;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 10px;
    background: #52C5CF;
}
/*== Footer ==*/
footer{
    background: #16133D;
    padding: 10px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    direction: rtl;
    box-shadow: 0px 0px 1000px #52c5cf4f;
    width: 100%;
    z-index: -9999999;
    text-align: right;
    padding-bottom: 50px;
    margin-top: 30px;
}
footer li{
    font-size: 19px;
    margin-top: 10px;
}
footer a:hover{
    color: #52C5CF;
}
footer h3{
    font-size: 30px;
}
footer p{
    opacity: 0.70;
    width: 100%;
    max-width: 300px;
    font-size: 15px;
    margin-top: 10px;
}
footer img{
    width: 42px;
    margin-top: 6px;
}
.whatsapp button{
    border-radius: 10px;
    padding: 10px;
    background: #38CD4D;
    display: flex;
    align-items: center;
    border: none;
    justify-content: space-around;
    height: 45px;
    font-size: 21px;
    width: 170px;
}
.whatsapp button img{
    margin-top: 0;
    width: 32px;
}
footer .social{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}
.ul-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
/*===== Courses Page =====*/
.courses-landing{
    margin: auto;
    justify-content: center;
    text-align: center;
}
.courses-landing h1{
    font-size: 45px;
}
.courses-landing button{
    margin: auto;
    justify-content: center;
    text-align: center;
}
.courses-landing p{
    width: 100%;
    max-width: 800px;
    margin: auto;
    direction: rtl;
    justify-content: center;
}
.courses-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.course-card .card-img{
    position: relative;
}
.course-card .card-img h4{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 7px;
    border-radius: 100px;
    background: #fff;
    color: #001;
    width: 100px;
}

/*===== Course Page =====*/
.course-container{
    display: flex;
    align-items: center;
    padding: 0px 5% 0px 5%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.course-main{
    padding: 10px;
    margin-top: 20px;
}
.course-main video{
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    border: 1px #0000007a solid;
}
.course-main .course-content{
    width: 100%;
    max-width: 600px;
    position: relative;
}
.course-main .course-content button{
    background: none;
    padding: 7px;
    background: #52C5CF;
    border: none;
    right: 0;
    position: absolute;
    border-radius: 10px;
    direction: rtl;
    font-size: 17px;
}
.course-main h4{
    font-size: 18px;
    text-align: right;
}
.course-main p{
    text-align: right;
    opacity: 0.80;
    font-size: 15px;
    width: 100%;
    max-width: 600px;
}
.course-main .prog{
    width: 100%;
    max-width: 600px;
    height: 20px;
    border: 1px #ffffff7a solid;
    border-radius: 100px;
}
.course-main .prog div{
    width: 20%;
    height: 100%;
    border-radius: 100px;
    background: #52C5CF;
}
aside{
    padding: 30px;
    margin-top: 35px;
    height: 100%;
    max-height: 550px;
    background: #0000000c;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    z-index: 99;
}
aside::-webkit-scrollbar{
    opacity: 0;
    width: 0px;
}
.chapter {
    margin-bottom: 15px;
}
.chapter-title {
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
    border: 1px #ffffff02 solid;
    margin-top: 10px;
    padding: 10px;
    height: 50px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    cursor: pointer;
    direction: rtl;
    border-top: 1px #ffffff07 solid;
    border-bottom: 1px #ffffff07 solid;
    position: relative;
    overflow: hidden;
}
.chapter-title div{
    padding-left: 100px;
    padding-right: 50px;
}
.chapter-title img{
    position: absolute;
    right: 25px;
}
.chapter-title span{
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
    border: 1px #52C5CF solid;
    padding: 3px 12px 3px 12px;
    font-family: sans-serif;
    position: absolute;
    left: 15px;
}
.chapter-title i{
    font-size: 17px;
    margin-right: 10px;
    color: #52C5CF;
}
.lesson-list {
    display: none;
    padding: 10px 0;
    text-align: right;
    display: rtl;
}
.lesson {
    border: 1px #ffffff18 solid;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}
.lesson i{
    color: #00ff22;
    font-size: 20px;
    padding: 7px;
}
.lesson div{
    position: absolute;
    right: 15px;
}
.lesson:hover {
    background-color: #52C5CF;
    color: #fff;
}
.locked {
    background-color: #ff000027;
    cursor: not-allowed;
}
#arrow.active{
    transform: rotate(-90deg);
}
.lessons-menu{
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translate(-50%,0);
    background: #52C5CF;
    padding: 5px;
    margin: auto;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    width: 60px;
    height: 60px;
}
.lessons-menu div{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}
.lessons-menu i{
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 50%;
    margin-left: 10px;
    transform: translate(-50%,-50%);
}

/*===== Sign In & Sign Up Pages =====*/
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.login-container h1 {
    font-size: 60px;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
}

.input-group input {
    direction: rtl;
    width: 100%;
    height: 48px;
    border-radius: 7px;
    background: none;
    border: 1px solid #ffffff83;
    padding: 7px 45px 7px 10px;
    font-size: 1rem;
}

.input-group input::placeholder {
    color: #fff;
    font-size: 0.9rem;
    opacity: 0.6;
}

.input-group i {
    color: #52C5CF;
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.42);
    padding-left: 7px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.login-container form button {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    border: none;
    background: #52C5CF;
    margin-top: 10px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.login-container form button:hover {
    background: #419ba6;
}

.login-container a {
    color: #52C5CF;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    text-align: right;
    display: block;
    width: 100%;
}

.login-container img {
    width: 100%;
    max-width: 450px;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        text-align: center;
    }

    .input-group input {
        font-size: 0.9rem;
    }

    .login-container h1 {
        font-size: 2rem;
    }

    .login-container h4 {
        text-align: right;
    }

    .login-container a {
        text-align: right;
    }
}
.flag-container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background: #1c2448;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 10px;
}
.flag-icon {
    width: 24px;
    height: 16px;
    border-radius: 3px;
}
#country-code {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
option{
    overflow: hidden;
    background: #16133D;
}
.two-inpts{
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 600px;
    width: 100%;
}

/*===== services page =====*/
.services-landing-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    margin-bottom: 20px;
    direction: rtl;
    position: relative;
    gap: 20px;
}
.services-landing-content p{
    width: 100%;
    max-width: 450px;
    opacity: 0.70;
    text-align: right;
}
.services-landing-content img{
    width: 100%;
    max-width: 600px;
    height: auto;
}
.services-landing-content h1{
    text-align: right;
    font-size: 70px;
    width: 100%;
}
.services-landing-content .whatsapp button{
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.service::before{
    content: '';
    width: 40%;
    height: 100%;
    left: -1px;
    top: 0;
    position: absolute;
    border-top: 1px #ffffff0c solid;
    border-top-left-radius: 30px;
}
.service::after{
    content: '';
    width: 40%;
    height: 100%;
    right: -1px;
    top: 0;
    position: absolute;
    border-bottom: 1px #ffffff0c solid;
    border-bottom-right-radius: 30px;
}
.service{
    position: relative;
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
    backdrop-filter: blur(36.72150421142578px);
    box-shadow: 0px 1.53px 36.72px -1.53px #0000002E;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    direction: rtl;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    max-width: 1000px;
    border-radius: 30px;
    margin-top: 20px;
}
.service h1{
    font-size: 40px;
    font-weight: 500;
}
.service h3{
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
    border-radius: 10px;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    font-weight: 400;
    padding-left: 20px;
    position: relative;
    border: 1px solid #ffffff0a;
}
.service img{
    width: 100%;
    max-width: 400px;
}
/*===== Course Info =====*/
.sub{
    width: 100%;
    height: 40px;
    background: #52C5CF;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    z-index: 999999999999999;
}
.course-info{
    width: 100%;
    margin-top: 30px;
}
.course-info video{
    width: 100%;
    max-width: 800px;
}
.course-info .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
}
.course-info .info .info-card{
    padding: 10px;
    border-radius: 0px;
    text-align: center;
    margin: auto;
    direction: rtl;
    margin-left: 30px;
    justify-content: center;
}
.course-info h1{
    font-size: 60px;
    color: #52c5cfda;
    font-family: sans-serif;
}
.features{
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 30px;
    height: 300px;
}
.features center{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.feature{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    text-align: center;
}
.feature h3{
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
    border: 1px solid;
    border-image-source: linear-gradient(131.92deg, rgba(255, 255, 255, 0.2) 14.14%, rgba(0, 0, 0, 0) 47.67%, rgba(255, 255, 255, 0.2) 82.63%);    
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px #ffffff28;
}
.feature i{
    font-size: 25px;
}
.clients-rates{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.client-rate{
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    direction: rtl;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
}
.client-rate img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}
.client-rate p{
    width: 100%;
    max-width: 400px;
}
.client-rate .user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.client-rate .stars i{
    font-size: 12px;
    color: #ffbb00;
}
.rates{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.guarantee{
    direction: ltr;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.guarantee .guarantee-img{
    position: relative;
}
.guarantee .guarantee-img img{
    width: 100%;
    max-width: 500px;
    animation: infinite 8s ease-in-out guarantee;
}
.guarantee .guarantee-img h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    font-size: 40px;
    z-index: 99;
    color: #fff;
    font-weight: 600;
}
.guarantee .guarantee-img span{
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: #fff;
    font-size: 72px;
    font-family: sans-serif;
}
.guarantee-content h1{
    font-size: 70px;
}
.guarantee-content p{
    width: 100%;
    max-width: 550px;
    font-size: 20px;
}
@keyframes guarantee{
    10%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.lesson-sec{
    width: 100%;
}
.lesson-sec .chapter-title-container{
    margin-top: 10px;
    border-radius: 10px;
    padding: 0;
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
    border: 1px #ffffff0c solid;
    width: 70%;
}
.lesson-sec .lesson{
    border: 0;
    width: 100%;
    margin-top: 0;
    opacity: 0.70;
    direction: rtl;
    font-size: 17px;
    max-width: 100%;
}
.lesson-sec .lesson:hover{
    background: none;
    opacity: 1;
}
.lesson-sec .lesson-list{
    margin-right: 0px;
    width: 90%;
    text-align: right;
}
.lesson-sec .chapter-title{
    background: none;
    width: 100%;
    border: none;
    height: 40px;
}
.lesson-sec .chapter-title div{
    right: 10px;
    position: absolute;
}
/*===== projects page =====*/
.project-card {
    backdrop-filter: blur(36.72150421142578px);
    box-shadow: 0px 1.53px 36.72px -1.53px #0000002E;
    background: linear-gradient(117.54deg, rgba(255, 255, 255, 0.1) -19.85%, rgba(235, 235, 235, 0.0734707) 4.2%, rgba(224, 224, 224, 0.0575009) 13.88%, rgba(212, 212, 212, 0.0422621) 27.98%, rgba(207, 207, 207, 0.0351168) 37.8%, rgba(202, 202, 202, 0.0286863) 44.38%, rgba(200, 200, 200, 0.0252599) 50.54%, rgba(196, 196, 196, 0.02) 60.21%);
    top: 58px;
    border-radius: 32px;
    gap: 10px;
    border-width: 2px;
    padding-top: 24px;
    padding-right: 13px;
    padding-bottom: 24px;
    padding-left: 13px;
    border: 2px solid;
    border-image-source: linear-gradient(131.92deg, rgba(255, 255, 255, 0.2) 14.14%, rgba(0, 0, 0, 0) 47.67%, rgba(255, 255, 255, 0.2) 82.63%);        
    width: 100%;
    max-width: 300px;
    text-align: center;
}
.project-card img{
    width: 100%;
    border-radius: 20px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 7px;
}
.icons i{
    font-size: 25px;
}
.courses-landing nav{
    direction: rtl;
    padding: 10px;
    border: 1px #fff solid;
    border-radius: 20px;
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}
.courses-landing nav .active{
    background: #52C5CF;
    padding: 7px;
    width: 110px;
    text-align: center;
    border-radius: 5px;
}
/*===== Blog Page =====*/
.blog-landing img{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}
.blog-landing h3{
    padding: 7px;
    font-size: 30px;
}
.blog-landing p{
    width: 100%;
    max-width: 700px;
}
.blog-landing .icons{
    margin-top: 20px;
}
.blog-landing .icons i{
    font-size: 25px;
}
.blog-designs{
    padding: 5px;
    text-align: center;
    display: block;
}
.blog-designs img{
    width: 90%;
    margin-top: 10px;
    border-radius: 5px;
}
